<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="secondary">
            </ion-menu-button>
            <div *ngIf="platform.is('ios') && userInfo!=null && session!=null">
                <ion-select *ngIf="userInfo.allow_multi_countries && session.countries!=null && session.countries.length >= 1"
                            [(ngModel)]="selectedCountry"
                            (ionChange)="setCountry()">
                    <ion-select-option *ngFor="let country of session.countries"
                                       [value]="country.country_code">
                        <span><ion-img [src]="country.country_img"> </ion-img></span>
                        {{country.country_name}}
                    </ion-select-option>
                </ion-select>
            </div>
        </ion-buttons>
        <ion-title>
            {{strings.getString("dashboard_title_txt")}}
        </ion-title>
        <ion-buttons slot="end">
            <div *ngIf="!platform.is('ios') && userInfo!=null && session!=null">
                <ion-select *ngIf="userInfo.allow_multi_countries && session.countries!=null && session.countries.length >= 1"
                            [(ngModel)]="selectedCountry"
                            (ionChange)="setCountry()">
                    <ion-select-option *ngFor="let country of session.countries"
                                       [value]="country.country_code">
                        <span><ion-img [src]="country.country_img"> </ion-img></span>
                        {{country.country_name}}
                    </ion-select-option>
                </ion-select>
            </div>
            <ion-button (click)="refreshDashboardView()">
                <ion-icon slot="icon-only" class="secondary" name="refresh">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar
            showCancelButton="focus"
            placeholder="{{strings.getString('enter_ref_code_txt')}}"
            debounce="500"
            (input)="onInput($event)"
            (search)="onInput($event,true)"
            (clear)="onClear($event)"
            [animated]="true"
            [(ngModel)]="referenceCode">
    </ion-searchbar>
</ion-header>
<ion-content class="ion-padding">

    <!--Refresher -->
    <ion-refresher
            slot="fixed"
            [pullMin]="80"
            (ionRefresh)="refreshDashboardView($event)"
            slot="fixed">
        <ion-refresher-content
                [pullingText]="strings.getString('pull_refresh_txt')"
                [refreshingText]="strings.getString('refreshing_txt')"
                [refreshingSpinner]="'circles'">
        </ion-refresher-content>
    </ion-refresher>

    <!--Loading view - Show if active trips hasn't been loaded yet-->
    <div class="loader cell" *ngIf="dashboard==null">
        <ion-img [src]="assets.getPath('loading_page')"> </ion-img>
        <ion-label class="cell-content">{{strings.getString('loading_txt')}}</ion-label>
    </div>

    <!--Active Card list - Show if active trips has been loaded and is not empty-->
    <div #dashCards id="dashCards" *ngIf="dashboard!=null">
        <ion-list id="activeTrips">
            <!--Active trip header-->
            <ion-list-header class="cell cell-center cell-flex cell-flex-center">
                <div class="cell cell-center">
                    <div class="section-title">
                        <div>{{strings.getString('active_trips_txt')}}</div>
                        <div>
                            <ion-icon name="arrow-down">
                            </ion-icon>
                        </div>
                    </div>
                </div>
            </ion-list-header>

            <!--Active trip grid-->
            <ion-grid *ngIf=" dashboard.active_trips!=null && dashboard.active_trips.length > 0">
                <ion-row class="ion-justify-content-center" wrap>
                    <ion-col size="12" size-md="6" size-xl="4"
                             *ngFor="let trip of dashboard.active_trips; let i = index" [attr.index]="i">
                        <ion-card>
                            <ion-card-header>
                                <ion-row>
                                    <ion-col size="6" class="cell">
                                        <div class="cell-left">{{trip.date}}</div>
                                    </ion-col>
                                    <ion-col size="6" class="cell">
                                        <div class="cell-right">{{trip.time}}</div>
                                    </ion-col>
                                </ion-row>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-row>
                                    <ion-col size="12" position="center"
                                             class="cell cell-center cell-flex cell-flex-center">
                                        <div class="cell">
                                            <canvas class="cell_chart" id="{{'canvas_'+trip.trip_id}}"> </canvas>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" position="center"
                                             class="cell cell-center cell-flex cell-flex-center">
                                        <ion-row>
                                            <ion-col size="5" class="cell">
                                                <div class="cell-content cell-left">{{trip.pickup_loc_name}}</div>
                                                <div class="cell-sub cell-left">{{trip.pickup_city}}</div>
                                            </ion-col>
                                            <ion-col size="2" class="cell cell-center cell-flex cell-flex-center">
                                                <ion-icon class="cell" name="arrow-round-forward"> </ion-icon>
                                            </ion-col>
                                            <ion-col size="5" class="cell">
                                                <div class="cell-content cell-left">{{trip.dropoff_loc_name}}</div>
                                                <div class="cell-sub cell-left">{{trip.dropoff_city}}</div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                </ion-row>
                                <div class="cell cell-center ">
                                    <ion-button color="primary" (click)="showTrip(trip)">
                                        <ion-icon name="open" slot="start"> </ion-icon>
                                        {{strings.getString("view_txt")}}
                                    </ion-button>
                                </div>
                                <div class="cell cell-center " *ngIf="trip.bus==null">
                                    <ion-label class="cell-content danger x-small-text">
                                        {{strings.getString("no_bus_msg")}}
                                    </ion-label>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <!--No active trip view - Show if active trips has been loaded but is empty-->
            <div class="loader cell" *ngIf="dashboard.active_trips==null || dashboard.active_trips.length <= 0">
                <img src="{{assets.getPath('no_trip')}}"/>
                <ion-label class="cell-content">{{strings.getString('no_active_trip_txt')}}</ion-label>
            </div>

        </ion-list>
        <div color="light" class="cell cell-center cell-flex cell-flex-center cell-margin-auto color-dark background-light" sticky>
            <ion-select *ngIf="bookingMonths!=null && bookingMonths.length>0"
                        placeholder="{{strings.getString('select_month_txt')}}"
                        [(ngModel)]="selectedBookingMonth"
                        (ionChange)="loadDashboardView()">
                <ion-select-option *ngFor="let month of bookingMonths; let i = index" [attr.index]="i"
                                   [value]="i">
                    {{month.display_date}}
                </ion-select-option>
            </ion-select>
        </div>
        <ion-list id="bookingList">
            <!--Bookings header-->
            <ion-list-header class="cell cell-center cell-flex cell-flex-center">
                <div class="cell cell-center">
                    <div class="section-title">
                        <div>{{strings.getString('bookings_txt')}}</div>
                        <div>
                            <ion-icon name="arrow-down">
                            </ion-icon>
                        </div>
                    </div>
                </div>
            </ion-list-header>

            <!--Bookings grid-->
            <div class="cell cell-flex cell-flex-center" *ngIf="dashboard.bookings!=null">
                <ion-card>
                    <ion-card-content>
                        <ion-row class="ion-justify-content-center" wrap>
                            <ion-col size="12" position="center" class="cell cell-center cell-flex cell-flex-center">
                                <div class="cell">
                                    <canvas class="cell_chart chart_max" id="canvas_bookings"> </canvas>
                                </div>
                            </ion-col>
                            <ion-col size="12" position="center" class="cell">
                                <ion-list>
                                    <ion-item class="cell" (click)="showBookings(dashboard.bookings.unpaid)">
                                        <ion-col size="8">
                                            <ion-label>{{strings.getString('unpaid_txt')}}</ion-label>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-label>{{dashboard.bookings.unpaid.length}}</ion-label>
                                        </ion-col>
                                    </ion-item>
                                    <ion-item class="cell" (click)="showBookings(dashboard.bookings.pending)">
                                        <ion-col size="8">
                                            <ion-label>{{strings.getString('pending_txt')}}</ion-label>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-label>{{dashboard.bookings.pending.length}}</ion-label>
                                        </ion-col>
                                    </ion-item>
                                    <ion-item class="cell" (click)="showBookings(dashboard.bookings.verified)">
                                        <ion-col size="8">
                                            <ion-label>{{strings.getString('verified_txt')}}</ion-label>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-label>{{dashboard.bookings.verified.length}}</ion-label>
                                        </ion-col>
                                    </ion-item>
                                    <ion-item class="cell" (click)="showBookings(dashboard.bookings.canceled)">
                                        <ion-col size="8">
                                            <ion-label>{{strings.getString('canceled_txt')}}</ion-label>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-label>{{dashboard.bookings.canceled.length}}</ion-label>
                                        </ion-col>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </div>

        </ion-list>
        <ion-list id="transactions" *ngIf="dashboard.transactions!=null">
            <!--Transactions header-->
            <ion-list-header class="cell cell-center cell-flex cell-flex-center">
                <div class="cell cell-center">
                    <div class="section-title">
                        <div>{{strings.getString('transactions_txt')}}</div>
                        <div>
                            <ion-icon name="arrow-down">
                            </ion-icon>
                        </div>
                    </div>
                </div>
            </ion-list-header>

            <!--Transactions grid-->
            <ion-grid>
                <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-col size="12" size-md="6" size-xl="6">
                        <ion-card>
                            <ion-card-content>
                                <ion-row class="ion-justify-content-center" wrap>
                                    <ion-col size="12" position="center"
                                             class="cell cell-center cell-flex cell-flex-center">
                                        <ion-label class="cell">
                                            <h3>{{strings.getString('total_payments_txt')}}</h3>
                                        </ion-label>
                                    </ion-col>
                                    <ion-col size="12" position="center"
                                             class="cell cell-center cell-flex cell-flex-center">
                                        <ion-label class="xxx-large-text bold" color="warning">
                                            {{dashboard.transactions.bookings.currency_code}}
                                            {{dashboard.transactions.bookings.amount}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col size="12" position="center" class="cell">
                                        <ion-list>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('cash_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.payout.currency_code}}
                                                        {{dashboard.transactions.bookings.cash}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('banked_in_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.bookings.currency_code}}
                                                        {{dashboard.transactions.bookings.banked_in}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-col size="12" size-md="6" size-xl="6">
                        <ion-card>
                            <ion-card-content>
                                <ion-row class="ion-justify-content-center" wrap>
                                    <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                                        <ion-label class="x-large-text bold">{{strings.getString('fees_txt')}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                                        <ion-row>
                                            <ion-col size="12" position="center">
                                                <ion-label class="small-text" color="dark">
                                                    {{strings.getString('balance_txt')}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="12" position="center">
                                                <ion-label class="xxx-large-text bold" color="success">
                                                    {{dashboard.transactions.payin.currency_code}}
                                                    {{dashboard.transactions.payin.balance}}
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="12" position="center" class="cell">
                                        <ion-list>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('total_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.payin.currency_code}}
                                                        {{dashboard.transactions.payin.amount}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('paid_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.payin.currency_code}}
                                                        {{dashboard.transactions.payin.paid}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('overpaid_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.payin.currency_code}}
                                                        {{dashboard.transactions.payin.overpaid}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="dashboard.transactions.payin.action_required" class="ion-justify-content-center">
                                    <ion-col class="cell cell-flex cell-flex-center" >
                                        <ion-label class="small-text" color="danger">
                                            {{strings.getString("pay_before_txt")}} {{dashboard.transactions.payin.last_day_to_action}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col size="12" class="cell cell-flex cell-flex-center cell-padding-3x">
                                        <ion-button color="primary" (click)="showPayIn(dashboard.transactions.payin)">
                                            {{strings.getString("make_payment_txt")}}
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12" size-md="6" size-xl="6">
                        <ion-card>
                            <ion-card-content>
                                <ion-row class="ion-justify-content-center" wrap>
                                    <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                                        <ion-label class="x-large-text bold">{{strings.getString('payout_txt')}}
                                        </ion-label>
                                    </ion-col>
                                    <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                                        <ion-row>
                                            <ion-col size="12" position="center">
                                                <ion-label class="small-text" color="dark">
                                                    {{strings.getString('balance_txt')}}
                                                </ion-label>
                                            </ion-col>
                                            <ion-col size="12" position="center">
                                                <ion-label class="xxx-large-text bold" color="success">
                                                    {{dashboard.transactions.payout.currency_code}}
                                                    {{dashboard.transactions.payout.balance}}
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-col>
                                    <ion-col size="12" position="center" class="cell">
                                        <ion-list>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('total_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.payout.currency_code}}
                                                        {{dashboard.transactions.payout.amount}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('paid_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.payout.currency_code}}
                                                        {{dashboard.transactions.payout.paid}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                            <ion-item class="cell">
                                                <ion-col size="8" size-sm="6" size-xs="5">
                                                    <ion-label>{{strings.getString('overpaid_txt')}}</ion-label>
                                                </ion-col>
                                                <ion-col size="4" size-sm="6" size-xs="7">
                                                    <ion-label>{{dashboard.transactions.payout.currency_code}}
                                                        {{dashboard.transactions.payout.overpaid}}
                                                    </ion-label>
                                                </ion-col>
                                            </ion-item>
                                        </ion-list>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="dashboard.transactions.payout.action_required"
                                         class="ion-justify-content-center">
                                    <ion-col size="12" class="cell cell-flex cell-flex-center cell-padding-3x">
                                        <ion-button color="primary"
                                                    (click)="showPayout(dashboard.transactions.payout)">
                                            {{strings.getString("request_payout_txt")}}
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>

    <br><br><br>
    <ion-fab *ngIf="dashboard!=null && dashboard.active_trips!=null && platform.is('cordova')" vertical="bottom"
             horizontal="end" slot="fixed">
        <ion-fab-button (click)="showScanCode()">
            <ion-icon name="qr-scanner"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>