<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"> </ion-menu-button>
      <div *ngIf="platform.is('ios') && user!=null && session!=null">
        <ion-select *ngIf="user.allow_multi_countries && session.countries!=null && session.countries.length >= 1"
          [(ngModel)]="selectedCountry" (ionChange)="setCountry()">
          <ion-select-option *ngFor="let country of session.countries" [value]="country.country_code">
            {{country.country_name}}
          </ion-select-option>
        </ion-select>
      </div>
    </ion-buttons>
    <ion-title> {{strings.getString("dashboard_title_txt")}} </ion-title>
    <ion-buttons slot="end">
      <div *ngIf="!platform.is('ios') && user!=null && session!=null">
        <ion-select *ngIf="user.allow_multi_countries && session.countries!=null && session.countries.length >= 1"
          [(ngModel)]="selectedCountry" (ionChange)="setCountry()">
          <ion-select-option *ngFor="let country of session.countries" [value]="country.country_code">
            {{country.country_name}}
          </ion-select-option>
        </ion-select>
      </div>
      <ion-button (click)="refreshDashboardView()">
        <ion-icon slot="icon-only" class="secondary" name="refresh"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar showCancelButton="focus" placeholder="{{strings.getString('enter_ref_code_txt')}}"
    (input)="onInput($event)" (search)="onInput($event, true)" (clear)="onClear($event)" [animated]="true"
    inputmode="search" enterkeyhint="search" [autocomplete]="false" [autocorrect]="false" [(ngModel)]="referenceCode">
  </ion-searchbar>
  <!-- Date selector -->
  <ion-select *ngIf="bookingMonths!=null && bookingMonths.length>0"
    placeholder="{{strings.getString('select_month_txt')}}" [(ngModel)]="selectedBookingMonth"
    (ionChange)="selectMonth()">
    <ion-select-option *ngFor="let month of bookingMonths; let i = index" [attr.index]="i" [value]="i">
      {{month.display_date}}
    </ion-select-option>
  </ion-select>
</ion-header>
<ion-content class="ion-padding">
  <!--Refresher -->
  <ion-refresher slot="fixed" [pullMin]="80" (ionRefresh)="refreshDashboardView($event)" slot="fixed">
    <ion-refresher-content [pullingText]="strings.getString('pull_refresh_txt')"
      [refreshingText]="strings.getString('refreshing_txt')" [refreshingSpinner]="'circles'">
    </ion-refresher-content>
  </ion-refresher>

  <!--Loading view - Show if nothing hasn't been loaded yet-->
  <app-loader *ngIf="dashboard==null" [text]="strings.getString('loading_txt')"></app-loader>

  <!--Dashboard Card list -->
  <div #dashCards id="dashCards" *ngIf="dashboard!=null">
    <div id="activeTrips">
      <!--Active trip header-->
      <div class="cell cell-center cell-margin-auto">
        <div class="section-title">
          <div>{{strings.getString('active_trips_txt')}}</div>
          <div>
            <ion-icon name="arrow-down"> </ion-icon>
          </div>
        </div>
      </div>

      <!--Active trip grid-->
      <ion-grid *ngIf="dashboard.active_trips!=null && dashboard.active_trips.length > 0">
        <ion-row class="ion-justify-content-center" wrap>
          <ion-col size="12" size-md="6" size-xl="4" *ngFor="let trip of dashboard.active_trips; let i = index"
            [attr.index]="i">
            <ion-card>
              <ion-card-header>
                <ion-row>
                  <ion-col size="6" class="cell">
                    <div class="cell-left">{{trip.date}}</div>
                  </ion-col>
                  <ion-col size="6" class="cell">
                    <div class="cell-right">{{trip.time}}</div>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="12" position="center" class="cell cell-center cell-flex cell-flex-center">
                    <div id="{{'seatCanvasBox'+trip.trip_id}}" class="cell">
                    </div>
                  </ion-col>
                  <ion-col size="12" position="center" class="cell cell-center cell-flex cell-flex-center">
                    <ion-row>
                      <ion-col size="5" class="cell">
                        <div class="cell-content cell-left">
                          {{trip.pickup_loc_name}}
                        </div>
                        <div class="cell-sub cell-left">
                          {{trip.pickup_city}}
                        </div>
                      </ion-col>
                      <ion-col size="2" class="cell cell-center cell-flex cell-flex-center">
                        <ion-icon class="cell" name="arrow-forward"> </ion-icon>
                      </ion-col>
                      <ion-col size="5" class="cell">
                        <div class="cell-content cell-left">
                          {{trip.dropoff_loc_name}}
                        </div>
                        <div class="cell-sub cell-left">
                          {{trip.dropoff_city}}
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <div class="cell cell-center">
                  <ion-button color="primary" (click)="showTrip(trip)">
                    <ion-icon name="open" slot="start"> </ion-icon>
                    {{strings.getString("view_txt")}}
                  </ion-button>
                </div>
                <div class="cell cell-center" *ngIf="trip.bus==null">
                  <ion-label class="cell-content danger x-small-text">
                    {{strings.getString("no_bus_msg")}}
                  </ion-label>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--No active trip view - Show if active trips has been loaded but is empty-->
      <div class="loader cell" *ngIf="dashboard.active_trips==null || dashboard.active_trips.length <= 0">
        <div class="cell cell-flex cell-flex-center cell-padding-2x">
          <fa-icon class="color-gray cell-margin-auto" size="6x" [icon]="['fas', 'calendar-xmark']"></fa-icon>
        </div>
        <ion-label class="cell-content">{{strings.getString('no_active_trip_txt')}}</ion-label>
      </div>
    </div>
    <br>
    <div id="bookingList" *ngIf="showBookingsInfo">
      <!--Bookings header-->
      <div class="cell cell-center cell-margin-auto">
        <div class="section-title">
          <div>{{strings.getString('bookings_txt')}}</div>
          <div>
            <ion-icon name="arrow-down"> </ion-icon>
          </div>
        </div>
      </div>

      <!--Bookings grid-->
      <div class="cell cell-flex cell-flex-center" *ngIf="dashboard.bookings!=null">
        <ion-card>
          <ion-card-content>
            <ion-row class="ion-justify-content-center" wrap>
              <ion-col size="12" position="center" class="cell cell-center cell-flex cell-flex-center">
                <div class="cell">
                  <canvas #bookingCanvas class="cell-chart chart-max">
                  </canvas>
                </div>
              </ion-col>
              <ion-col size="12" position="center" class="cell">
                <ion-list>
                  <ion-item class="cell" (click)="showBookings(10, dashboard.bookings.unpaid)">
                    <ion-col size="8">
                      <ion-label>{{strings.getString('unpaid_txt')}}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>{{dashboard.bookings.unpaid}}</ion-label>
                    </ion-col>
                  </ion-item>
                  <ion-item class="cell" (click)="showBookings(13, dashboard.bookings.paid)">
                    <ion-col size="8">
                      <ion-label>{{strings.getString('paid_txt')}}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>{{dashboard.bookings.paid}}</ion-label>
                    </ion-col>
                  </ion-item>
                  <ion-item class="cell" (click)="showBookings(12, dashboard.bookings.pending)">
                    <ion-col size="8">
                      <ion-label>{{strings.getString('pending_txt')}}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>{{dashboard.bookings.pending}}</ion-label>
                    </ion-col>
                  </ion-item>
                  <ion-item class="cell" (click)="showBookings(11, dashboard.bookings.verified)">
                    <ion-col size="8">
                      <ion-label>{{strings.getString('verified_txt')}}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>{{dashboard.bookings.verified}}</ion-label>
                    </ion-col>
                  </ion-item>
                  <ion-item class="cell" (click)="showBookings(9, dashboard.bookings.canceled)">
                    <ion-col size="8">
                      <ion-label>{{strings.getString('canceled_txt')}}</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>{{dashboard.bookings.canceled}}</ion-label>
                    </ion-col>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <br>
    <div id="transactions" *ngIf="dashboard.transactions!=null">
      <!--Transactions header-->
      <div class="cell cell-center cell-margin-auto">
        <div class="section-title">
          <div>{{strings.getString('transactions_txt')}}</div>
          <div>
            <ion-icon name="arrow-down"> </ion-icon>
          </div>
        </div>
      </div>
      <div class="cell-margin-bottom-2x">
        <ion-segment [value]="activeTransactionSegment" (ionChange)="transactionSegmentChanged($event)">
          <ion-segment-button [value]="'on_hold'" class="cell cell-center cell-flex cell-flex-center small-text">
            {{strings.getString('on_hold_txt')}}
          </ion-segment-button>
          <ion-segment-button [value]="'released'" class="cell cell-center cell-flex cell-flex-center small-text">
            <span class="cell cell-flex cell-flex-center">
              {{strings.getString('released_txt')}}
              <ion-badge *ngIf="dashboard.transactions?.released?.payout.balance >= 1"
                class="cell-margin-md xx-small-text" color="success" slot="end">
                {{dashboard.transactions?.released?.payout.currency_code}}
                {{nFormatter(dashboard.transactions?.released?.payout.balance)}}
              </ion-badge>
            </span>
          </ion-segment-button>
        </ion-segment>
      </div>
      <!--Transactions grid-->
      <ion-grid *ngIf="transactionGroup!=null">
        <!-- Booking Transaction -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" size-md="8" size-lg="6">
            <ion-card>
              <ion-card-content>
                <ion-row class="ion-justify-content-center" wrap>
                  <ion-col size="12" position="center" class="cell cell-center cell-flex cell-flex-center">
                    <ion-label class="cell">
                      <h3>{{strings.getString('total_payments_txt')}}</h3>
                    </ion-label>
                  </ion-col>
                  <ion-col size="12" position="center" class="cell cell-center cell-flex cell-flex-center">
                    <ion-label class="xxx-large-text bold" color="warning">
                      {{transactionGroup.bookings.currency_code}}
                      {{transactionGroup.bookings.amount}}
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-list class="ion-justify-content-center" *ngIf="transactionGroup.bookings.amount_details">
                  <ion-row *ngFor="let detail of transactionGroup.bookings.amount_details;">
                    <ion-col size="1" class="cell cell-flex cell-flex-center">
                      <ion-label class="small-text">&bull;</ion-label>
                    </ion-col>
                    <ion-col size="11" class="cell">
                      <ion-row>
                        <ion-col size="8">
                          <ion-label class="small-text">{{detail.title}}</ion-label>
                        </ion-col>
                        <ion-col size="4">
                          <ion-label class="small-text">{{detail.currency_code}}
                            {{detail.amount}}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="12" *ngIf="detail.amount_details">
                      <ion-row *ngFor="let detail of detail.amount_details;">
                        <ion-col size="1" class="cell cell-flex cell-flex-center">
                          <ion-label class="x-small-text">&#8259;</ion-label>
                        </ion-col>
                        <ion-col size="11" class="cell">
                          <ion-row>
                            <ion-col size="8">
                              <ion-label class="x-small-text">{{detail.title}}</ion-label>
                            </ion-col>
                            <ion-col size="4">
                              <ion-label class="x-small-text">{{detail.currency_code}}
                                {{detail.amount}}</ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-list>
                <ion-row>
                  <ion-col size="12" class="cell cell-center">
                    <ion-label color="{{activeTransactionSegment == 'on_hold' ? 'danger' : 'success'}}"
                      class="x-small-text">
                      <ion-icon class="{{activeTransactionSegment == 'on_hold' ? 'color-danger' : 'color-ok'}}"
                        name="information-circle-outline" slot="start">
                      </ion-icon>
                      {{activeTransactionSegment == 'on_hold'?
                      strings.getString('on_hold_info_msg'):
                      strings.getString('released_info_msg') }}
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <!-- Pay-in / Payout Transaction -->
        <ion-row class="ion-justify-content-center">
          <!-- Payout (Revenue) -->
          <ion-col size="12" size-lg="6">
            <ion-card>
              <ion-card-content>
                <ion-row class="ion-justify-content-center" wrap>
                  <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                    <ion-label class="x-large-text bold">{{strings.getString('revenue_txt')}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                    <ion-row>
                      <ion-col size="12" position="center">
                        <ion-label class="small-text" color="dark">
                          {{strings.getString('balance_txt')}}
                        </ion-label>
                      </ion-col>
                      <ion-col size="12" position="center">
                        <ion-label class="xxx-large-text bold" color="success">
                          {{transactionGroup.payout.currency_code}}
                          {{transactionGroup.payout.balance}}
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12" position="center" class="cell">
                    <ion-list>
                      <ion-col class="cell">
                        <ion-item class="cell">
                          <ion-col size="8" size-sm="6" size-xs="5">
                            <ion-label>{{strings.getString('total_txt')}}</ion-label>
                          </ion-col>
                          <ion-col size="4" size-sm="6" size-xs="7">
                            <ion-label>
                              {{transactionGroup.payout.currency_code}}
                              {{transactionGroup.payout.amount}}
                            </ion-label>
                          </ion-col>
                        </ion-item>
                        <ion-list size="12" *ngIf="transactionGroup.payout.amount_details">
                          <ion-row *ngFor="let detail of transactionGroup.payout.amount_details;">
                            <ion-col size-md="4" size-sm="3" size="8"
                              class="cell-flex cell-flex-left cell-flex-center-vertical">
                              <ion-label class="cell-padding-2x x-small-text">&bull;
                              </ion-label>
                              <ion-label class="x-small-text">{{detail.title}}</ion-label>
                            </ion-col>
                            <ion-col size-md="2" size-sm="3" size="4"
                              class="cell-flex cell-flex-left cell-flex-center-vertical">
                              <ion-label class="x-small-text">{{detail.currency_code}}
                                {{detail.amount}}</ion-label>
                            </ion-col>
                            <ion-col size-md="6" size-sm="6" size="12" *ngIf="detail.info"
                              class="cell-flex cell-flex-left cell-flex-center-vertical">
                              <ion-label class="x-small-text cell-padding-auto color-normal">
                                <ion-icon class="color-normal" name="information-circle-outline" slot="start">
                                </ion-icon>
                                {{detail.info}}
                              </ion-label>
                            </ion-col>
                            <ion-col class="cell" size="12" *ngIf="detail.amount_details">
                              <ion-row *ngFor="let detail of detail.amount_details;">
                                <ion-col size="8" class="cell-flex cell-flex-left cell-flex-center-vertical">
                                  <ion-label class="cell-padding-3x xx-small-text">
                                    &#8259;</ion-label>
                                  <ion-label class="xx-small-text">{{detail.title}}
                                  </ion-label>
                                </ion-col>
                                <ion-col size="4" class="cell-flex cell-flex-left cell-flex-center-vertical">
                                  <ion-label class="xx-small-text">
                                    {{detail.currency_code}} {{detail.amount}}
                                  </ion-label>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-list>
                      </ion-col>
                      <ion-item class="cell">
                        <ion-col size="8" size-sm="6" size-xs="5">
                          <ion-label>{{strings.getString('paid_txt')}}</ion-label>
                        </ion-col>
                        <ion-col size="4" size-sm="6" size-xs="7">
                          <ion-label>
                            {{transactionGroup.payout.currency_code}}
                            {{transactionGroup.payout.paid}}
                          </ion-label>
                        </ion-col>
                      </ion-item>
                      <ion-item class="cell">
                        <ion-col size="8" size-sm="6" size-xs="5">
                          <ion-label>{{strings.getString('overpaid_txt')}}</ion-label>
                        </ion-col>
                        <ion-col size="4" size-sm="6" size-xs="7">
                          <ion-label>
                            {{transactionGroup.payout.currency_code}}
                            {{transactionGroup.payout.overpaid}}
                          </ion-label>
                        </ion-col>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="(activeTransactionSegment !== 'on_hold' && transactionGroup.payout.action_required) || (transactionGroup.payout.requests && transactionGroup.payout.requests.length >= 1)"
                  class="ion-justify-content-center">
                  <ion-col size="12" class="cell cell-flex cell-flex-center cell-padding-3x">
                    <ion-button color="primary" (click)="showPayout(transactionGroup.payout)">
                      {{transactionGroup.payout.action_required ?
                      strings.getString("request_payout_txt") :
                      strings.getString("view_history_txt")}}
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-- Payin (Fees)-->
          <ion-col size="12" size-lg="6">
            <ion-card>
              <ion-card-content>
                <ion-row class="ion-justify-content-center" wrap>
                  <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                    <ion-label class="x-large-text bold">{{strings.getString('fees_txt')}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="12" position="center" class="cell cell-center ion-no-padding">
                    <ion-row>
                      <ion-col size="12" position="center">
                        <ion-label class="small-text" color="dark">
                          {{strings.getString('balance_txt')}}
                        </ion-label>
                      </ion-col>
                      <ion-col size="12" position="center">
                        <ion-label class="xxx-large-text bold" color="success">
                          {{transactionGroup.payin.currency_code}}
                          {{transactionGroup.payin.balance}}
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="12" position="center" class="cell">
                    <ion-list>
                      <ion-col class="cell">
                        <ion-item class="cell">
                          <ion-col size="8" size-sm="6" size-xs="5">
                            <ion-label>{{strings.getString('total_txt')}}</ion-label>
                          </ion-col>
                          <ion-col size="4" size-sm="6" size-xs="7">
                            <ion-label>
                              {{transactionGroup.payin.currency_code}}
                              {{transactionGroup.payin.amount}}
                            </ion-label>
                          </ion-col>
                        </ion-item>
                        <ion-list size="12" *ngIf="transactionGroup.payin.amount_details">
                          <ion-row *ngFor="let detail of transactionGroup.payin.amount_details;">
                            <ion-col size-md="4" size-sm="3" size="8"
                              class="cell-flex cell-flex-left cell-flex-center-vertical">
                              <ion-label class="cell-padding-2x x-small-text">&bull;
                              </ion-label>
                              <ion-label class="x-small-text">{{detail.title}}</ion-label>
                            </ion-col>
                            <ion-col size-md="2" size-sm="3" size="4"
                              class="cell-flex cell-flex-left cell-flex-center-vertical">
                              <ion-label class="x-small-text">{{detail.currency_code}}
                                {{detail.amount}}</ion-label>
                            </ion-col>
                            <ion-col size-md="6" size-sm="6" size="12" *ngIf="detail.info"
                              class="cell-flex cell-flex-left cell-flex-center-vertical">
                              <ion-label class="x-small-text cell-padding-auto color-normal">
                                <ion-icon class="color-normal" name="information-circle-outline" slot="start">
                                </ion-icon>
                                {{detail.info}}
                              </ion-label>
                            </ion-col>
                            <ion-col class="cell" size="12" *ngIf="detail.amount_details">
                              <ion-row *ngFor="let detail of detail.amount_details;">
                                <ion-col size="8" class="cell-flex cell-flex-left cell-flex-center-vertical">
                                  <ion-label class="cell-padding-3x xx-small-text">
                                    &#8259;</ion-label>
                                  <ion-label class="xx-small-text">{{detail.title}}
                                  </ion-label>
                                </ion-col>
                                <ion-col size="4" class="cell-flex cell-flex-left cell-flex-center-vertical">
                                  <ion-label class="xx-small-text">
                                    {{detail.currency_code}} {{detail.amount}}
                                  </ion-label>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-list>
                      </ion-col>
                      <ion-item class="cell">
                        <ion-col size="8" size-sm="6" size-xs="5">
                          <ion-label>{{strings.getString('paid_txt')}}</ion-label>
                        </ion-col>
                        <ion-col size="4" size-sm="6" size-xs="7">
                          <ion-label>
                            {{transactionGroup.payin.currency_code}}
                            {{transactionGroup.payin.paid}}
                          </ion-label>
                        </ion-col>
                      </ion-item>
                      <ion-item class="cell">
                        <ion-col size="8" size-sm="6" size-xs="5">
                          <ion-label>{{strings.getString('overpaid_txt')}}</ion-label>
                        </ion-col>
                        <ion-col size="4" size-sm="6" size-xs="7">
                          <ion-label>
                            {{transactionGroup.payin.currency_code}}
                            {{transactionGroup.payin.overpaid}}
                          </ion-label>
                        </ion-col>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row
                  *ngIf="(activeTransactionSegment !== 'on_hold' && transactionGroup.payin.action_required) || (transactionGroup.payin.requests && transactionGroup.payin.requests.length >= 1)"
                  class="ion-justify-content-center">
                  <ion-col *ngIf="transactionGroup.payin.action_required" class="cell cell-flex cell-flex-center">
                    <ion-label class="small-text" color="danger">
                      {{strings.getString("pay_before_txt")}}
                      {{transactionGroup.payin.last_day_to_action}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="12" class="cell cell-flex cell-flex-center cell-padding-3x">
                    <ion-button color="primary" (click)="showPayIn(transactionGroup.payin)">
                      {{transactionGroup.payin.action_required ?
                      strings.getString("make_payment_txt") :
                      strings.getString("view_history_txt")}}
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <br /><br /><br />
  <ion-fab *ngIf="dashboard!=null && platform.is('cordova')" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showScanCode()">
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="dashboard!=null && !platform.is('cordova') && webScanAvailable" vertical="bottom" horizontal="end"
    slot="fixed">
    <ion-fab-button (click)="showWebScanCode()">
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
