ion-content {

  /*Active Trip Info Div*/
  #dashCards {
    ion-icon {
      color: var(--ion-color-primary);
    }

    ion-card {
      ion-card-content {
        background: transparent;
        --background: transparent;

        ion-list {
          background: transparent;
          --background: transparent;
        }

        ion-item {
          background: transparent;
          --background: transparent;
        }
      }
    }

    #activeTrips {
      ion-col {
        &[index="0"] {
          ion-card-header {
            background: var(--ion-color-medium);
            color: var(--ion-color-light) !important;
          }

          ion-card-content {
            background: var(--ion-color-light-tint);
            --background: var(--ion-color-light-tint);
          }
        }

        &:not([index="0"]) {
          ion-card-header {
            background: var(--disabled-color);
            color: var(--ion-color-dark) !important;
          }

          ion-card-content {
            background: var(--ion-color-light-tint);
            --background: var(--ion-color-light-tint);
          }
        }

        ion-card-content {
          ion-col[left] {
            .cell {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
