<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{strings.getString('share_bus_txt')}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <!--Bus list-->
    <form #busForm="ngForm" (ngSubmit)="add()" autocomplete="off">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="stacked">{{strings.getString('partner_account_id_txt')}}</ion-label>
                    <ion-input name="shareAccountId" required [(ngModel)]="accountId"
                               placeholder="{{strings.getString('enter_account_id_txt')}}" type="TEXT"></ion-input>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label position="stacked">{{strings.getString('partner_name_txt')}}</ion-label>
                    <ion-input name="shareTitle" required [(ngModel)]="title"
                               placeholder="{{strings.getString('enter_partner_name_txt')}}" type="TEXT"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <br/>
        <br/>
        <ion-row>
            <ion-col>
                <ion-button expand="full" color="primary" type="submit"
                            [disabled]="!busForm.form.valid">
                    {{strings.getString("done_txt")}}
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
