<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="secondary">
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{strings.getString("account_title_txt")}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row class="ion-justify-content-center" wrap>
            <ion-col size-lg="6" size="12">
                <ion-card *ngIf="user!=null">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size-sm="6" size="12" class="cell cell-flex cell-flex-center">
                                <ion-row>
                                    <ion-col size="12" class="cell cell-flex cell-flex-center">
                                        <ion-img *ngIf="(user.partner_logo!=null && user.partner_logo!='')"
                                                class="img x-large"
                                                [src]="user.partner_logo"
                                                (ionError)="user.partner_logo = assets.getPath('placeholder')"
                                                cache="true">
                                        </ion-img>
                                        <ion-img *ngIf="(user.partner_logo==null || user.partner_logo=='') &&  (!user.is_admin)"
                                                class="img x-large"
                                                [src]="assets.getPath('logo_txt_dark')">
                                        </ion-img>
                                        <ion-button *ngIf="platform.is('cordova') && (user.partner_logo==null || user.partner_logo=='') &&  user.is_admin"
                                                    (click)="selectImage()"
                                                    class="cell cell-flex cell-flex-center"
                                                    style="height: 100%!important;"
                                                    [fill]="'outline'" [shape]="'round'" color="primary">
                                            <span style="word-wrap: break-word !important;">{{strings.getString("add_logo_txt")}}</span>
                                        </ion-button>
                                        <ion-button *ngIf="!platform.is('cordova') && (user.partner_logo==null || user.partner_logo=='') &&  user.is_admin"
                                                    class="cell cell-flex cell-flex-center"
                                                    style="height: 100%!important;"
                                                    [fill]="'outline'" [shape]="'round'" color="primary">
                                            <input class="fileInput" id="fileInputLogo" type="file" accept="image/*" (change)="changeListener($event)"/>
                                            <label class="fileInputLabel" id="fileInputLogoLabel" for="fileInputLogo"><ion-icon color="primary" name="images"> </ion-icon>{{strings.getString("upload_txt")}}</label>
                                        </ion-button>
                                    </ion-col>
                                    <ion-col size="12" *ngIf="(user.partner_logo!=null && user.partner_logo!='') && user.is_admin" class="cell cell-flex cell-flex-center">
                                        <ion-button color="clear" *ngIf="!platform.is('cordova')"
                                                    style="height: 30px!important;width: 30px!important;"
                                                    class="iconBt">
                                            <input class="fileInput" id="fileInputLogo" type="file" accept="image/*" (change)="changeListener($event)"/>
                                            <label class="fileInputLabel" id="fileInputLogoLabel" for="fileInputLogo">
                                                <ion-icon name="create" color="primary" slot="icon-only">
                                                </ion-icon>
                                            </label>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                            <ion-col size-sm="6" size="12" class="cell cell-flex cell-flex-center">
                                <div class="cell cell-center cell-left">
                                    <div>
                                        <ion-label class="cell-title cell-sub">{{user.partner_name}}</ion-label>
                                    </div>
                                    <div>
                                        <ion-label class="cell-title">{{user.name}}
                                            ({{user.is_partner ? strings.getString('owner_txt') : (user.is_admin ? strings.getString('admin_txt') : (user.is_agent ? strings.getString('agent_txt') : strings.getString('user_txt')))}})
                                        </ion-label>
                                    </div>
                                    <div>
                                        <ion-label class="cell-content">{{user.email}}</ion-label>
                                    </div>
                                    <div>
                                        <ion-label class="cell-content">{{user.dial_code}}{{user.phone}}</ion-label>
                                    </div>
                                    <div>
                                        <ion-label id="accountIdLb" class="cell-content copy"><strong>Account ID - </strong>{{user.account_id}}</ion-label>
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-lg="6" size="12" class="ion-no-padding">
                <ion-row wrap>
                    <ion-col *ngIf="user!=null && user.is_admin" size="12">
                        <ion-card (click)="showAgents()">
                            <ion-card-content>
                                <ion-item [lines]="'none'">
                                    <ion-icon name="people" slot="start">
                                    </ion-icon>
                                    {{strings.getString('my_agents_txt')}}
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col *ngIf="user!=null && user.is_admin" size="12">
                        <ion-card (click)="showLocations()">
                            <ion-card-content>
                                <ion-item [lines]="'none'">
                                    <ion-icon name="location" slot="start">
                                    </ion-icon>
                                    {{strings.getString('my_locations_txt')}}
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="12">
                        <ion-card>
                            <ion-card-content>
                                <ion-item lines="none" (click)="showSupport()" detail>
                                    {{strings.getString('support_txt')}}
                                </ion-item>
                                <ion-item lines="none" (click)="showTerms()" detail>
                                    {{strings.getString('terms_and_condition_txt')}}
                                </ion-item>
                                <ion-item lines="none" (click)="showPrivacy()" detail>
                                    {{strings.getString('privacy_policy_txt')}}
                                </ion-item>
                                <ion-item hidden lines="none" (click)="showApp()" detail>
                                    {{strings.getString('go_to_app_txt')}}
                                </ion-item>
                                <ion-item lines="none">
                                  {{strings.getString('dark_mode_txt')}}
                                  <ion-toggle
                                  [(ngModel)] = "darkMode"
                                   (ionChange)="toggleTheme()" slot="end">
                                  </ion-toggle>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <br/>
                    <br/>
                    <ion-col *ngIf="platform.is('mobile')" size="12" class="ion-padding">
                        <ion-button expand="full" color="danger" (click)="confirmLogout()">
                            <ion-icon name="exit" color="secondary" slot="start">
                            </ion-icon>
                            {{strings.getString('logout_txt')}}
                        </ion-button>
                    </ion-col>
                    <ion-col size="12" class="cell cell-flex cell-flex-center ion-no-padding">
                        <ion-label>{{'Version '+version}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
