<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{strings.getString("trip_txt")}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" class="secondary" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card *ngIf="trip!=null">
    <ion-card-title class="cell cell-center cell-center">
      {{strings.getString("info_txt")}}
    </ion-card-title>
    <ion-card-header>
      <ion-row>
        <ion-col size="6" class="cell cell-center cell-flex cell-flex-left">
          <div class="cell cell-center  cell-flex cell-flex-center {{getTripStatusClass(trip.status_id)}}">
            {{trip.status}}
          </div>
        </ion-col>
        <ion-col size="6" class="cell cell-center  cell-flex cell-flex-right">
          <ion-button color="primary" (click)="showSelectStatus()">
            <ion-icon slot="start" name="create"></ion-icon>
            {{strings.getString("edit_txt")}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-label class="cell cell-center ">
            <div class="cell-title">{{strings.getString('from_txt')}}</div>
            <div class="cell-content">{{trip.pickup_loc_name}}</div>
            <div class="cell-sub">{{trip.pickup_loc_address}}</div>
            <div class="cell-sub">{{trip.pickup_city}}</div>
          </ion-label>
          <ion-label class="cell cell-center ">
            <div class="cell-title">{{strings.getString('to_txt')}}</div>
            <div class="cell-content">{{trip.dropoff_loc_name}}</div>
            <div class="cell-sub">{{trip.dropoff_loc_address}}</div>
            <div class="cell-sub">{{trip.dropoff_city}}</div>
          </ion-label>
          <ion-label class="cell cell-center ">
            <div class="cell-title">{{strings.getString('departure_date_txt')}}</div>
            <div class="cell-content">{{trip.date}}</div>
          </ion-label>
          <ion-label class="cell cell-center ">
            <div class="cell-title">{{strings.getString('departure_time_txt')}}</div>
            <div class="cell-content">{{trip.time}}</div>
          </ion-label>
          <ion-label class="cell cell-center ">
            <div class="cell-title">{{strings.getString('created_by_txt')}}</div>
            <a (click)="showAgent(trip.agent_id)">
              <div class="cell-content color-normal">{{trip.agent_name}}</div>
              <div class="cell-sub color-normal">{{trip.agent_email}}</div>
            </a>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="trip!=null && checkIsOpen(trip.status_id) && trip.tickets!=null && trip.tickets.length>0">
    <ion-card-title class="cell cell-center ">
      {{strings.getString("ticket_txt")}}
    </ion-card-title>
    <ion-card-header *ngIf="allowAddTicket">
      <ion-row>
        <ion-col size="12" class="cell cell-center  cell-flex cell-flex-left">
          <ion-button color="primary" (click)="showAddTicket()">
            <ion-icon slot="start" name="add"> </ion-icon>
            {{strings.getString("add_txt")}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-row *ngFor="let ticket of trip.tickets; let i = index" [attr.index]="i">
          <ion-col size="12" size-md="3" class="cell cell-left  cell-flex cell-flex-left ion-no-padding">
            <ion-toggle color="success" [disabled]="!allowDeactivateTicket || !ticket.allow_deactivate"
              [checked]="ticket.is_active" (ionChange)="toggleTripTicket($event, ticket)">
            </ion-toggle>
          </ion-col>
          <ion-col size="4" size-md="3" class="cell cell-center  cell-flex cell-flex-center">
            <ion-label class="cell-content">
              {{ticket.name}}
            </ion-label>
          </ion-col>
          <ion-col size="5" size-md="4" class="cell cell-center  cell-flex cell-flex-center ">
            <ion-label class="cell-content">
              {{ticket.description}}
            </ion-label>
          </ion-col>
          <ion-col size="3" size-md="2" class="cell cell-center  cell-flex cell-flex-center ">
            <ion-label class="cell-content">
              {{ticket.currency_code}} {{ticket.price}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="trip!=null && checkIsOpen(trip.status_id)">
    <ion-card-title class="cell cell-center ">
      {{strings.getString("seats_txt")}}
    </ion-card-title>
    <ion-card-content>
      <div class="cell round-corner">
        <ion-label class="cell cell-center ">
          <div class="cell-title">{{strings.getString('total_txt')}}</div>
          <div class="cell-content">{{trip.bus_seats}}</div>
        </ion-label>
        <div class="cell cell-flex cell-flex-center">
          <canvas #seatCanvas class="cell-chart chart-max">
          </canvas>
        </div>
      </div>
      <ion-list>
        <ion-row *ngFor="let seat of trip.trip_seats; let i = index" [attr.index]="i">
          <ion-col size="4" class="cell cell-left  cell-flex cell-flex-left ion-no-padding">
            <ion-toggle color="success" [disabled]="seat.status==seatStatus.BOOKED || seat.status==seatStatus.LOCKED"
              [checked]="seat.status!=seatStatus.RESERVED" (ionChange)="reserveTripSeat($event, seat)">
            </ion-toggle>
          </ion-col>
          <ion-col size="4" class="cell cell-center  cell-flex cell-flex-center">
            <ion-label class="cell-content">
              {{seat.seat_id}}
            </ion-label>
          </ion-col>
          <ion-col size="4" class="cell cell-center  cell-flex cell-flex-center ">
            <div class="cell cell-center  cell-flex cell-flex-center {{getTripSeatStatusClass(seat.status)}}">
              {{getTripSeatStatusText(seat.status)}}
            </div>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="trip!=null && checkIsOpen(trip.status_id) && trip.bus==null">
    <ion-card-title class="cell cell-center ">
      {{strings.getString("bus_type_txt")}}
    </ion-card-title>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="cell cell-center">
          <ion-item>
            <ion-label position="stacked">{{strings.getString('bus_type_txt')}}</ion-label>
            <ion-select required name="busType" *ngIf="busTypes!=null && busTypes.length>0"
              placeholder="{{strings.getString('select_bus_type_txt')}}" [(ngModel)]="selectedBusType">
              <ion-select-option *ngFor="let type of busTypes" [value]="type.id">
                {{type.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="cell cell-center">
          <ion-button [expand]="'full'" color="primary" type="button"
            [disabled]="selectedBusType==null || selectedBusType==trip.bus_type_id" (click)="updateBusType()">
            {{strings.getString("update_txt")}}
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="trip!=null && checkIsOpen(trip.status_id)">
    <ion-card-title class="cell cell-center ">
      {{strings.getString("bus_txt")}}
    </ion-card-title>
    <ion-card-header>
      <ion-row>
        <ion-col *ngIf="trip!=null && trip.bus!=null" size="12" class="cell cell-center cell-flex cell-flex-left">
          <ion-button color="primary" (click)="showBus(trip.bus)">
            <ion-icon slot="start" name="open"></ion-icon>
            {{strings.getString("view_txt")}}
          </ion-button>
        </ion-col>
        <ion-col *ngIf="trip!=null && trip.bus==null" size="12" class="cell cell-center cell-flex cell-flex-left">
          <ion-button color="primary" (click)="showAddBus()">
            <ion-icon slot="start" name="add"></ion-icon>
            {{strings.getString("add_txt")}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content *ngIf="trip!=null && trip.bus!=null">
      <ion-row>
        <ion-col size="2" class="cell cell-center  cell-flex cell-flex-center ">
          <ion-button class="iconBt" (click)="confirmDeleteBus(trip.bus)">
            <ion-icon slot="icon-only" class="danger" name="remove-circle"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="cell cell-center  cell-flex cell-flex-center ">
          <ion-label class="cell-content">
            {{trip.bus.plate_number}}
          </ion-label>
        </ion-col>
        <ion-col size="2" class="cell cell-center  cell-flex cell-flex-center ">
          <ion-label class="cell-content">
            {{trip.bus.seats}}
          </ion-label>
        </ion-col>
        <ion-col size="4" class="cell cell-center  cell-flex cell-flex-center ">
          <ion-label class="cell-content">
            {{trip.bus.type}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-content *ngIf="trip!=null && trip.bus==null">
      <ion-row>
        <ion-col size="12" class="cell cell-center  cell-flex cell-flex-center ">
          <ion-label class="cell-content">
            {{strings.getString("no_bus_txt")}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <br/>
  <br/>
  <div class="cell cell-center ">
    <ion-button expand="full" class="ok large-text" (click)="repeatTrip()">
      {{strings.getString("repeat_txt")}}
    </ion-button>
  </div>
  <div class="cell cell-center ">
    <ion-button expand="full" class="danger large-text" (click)="confirmDelete()">
      {{strings.getString("delete_txt")}}
    </ion-button>
  </div>
  <br>
</ion-content>
