<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{strings.getString('add_trip_txt')}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss(false)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form #tripForm="ngForm" (ngSubmit)="submit()" autocomplete="off">
        <ion-item>
            <ion-label position="stacked">{{strings.getString('pickup_txt')}}</ion-label>
            <ion-input required name="pickup" (click)="selectOrigin($event)" [value]="selectedPickup!=null?selectedPickup.name:''"
                       [readonly]="true" placeholder="{{strings.getString('select_pickup_txt')}}" type="text"
                       #triporigin>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{strings.getString('type_txt')}}</ion-label>
            <ion-select required name="pickupType" placeholder="{{strings.getString('select_type_txt')}}" [(ngModel)]="selectedPickupLocationType">
                <ion-select-option *ngFor="let type of locationTypes" [value]="type.id">
                    {{type.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="stacked">{{strings.getString('dropoff_txt')}}</ion-label>
            <ion-input required name="dropoff" (click)="selectDestination($event)" [value]="selectedDropOff!=null?selectedDropOff.name:''"
                       [readonly]="true" placeholder="{{strings.getString('select_dropoff_txt')}}" type="text">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{strings.getString('type_txt')}}</ion-label>
            <ion-select required name="dropoffType" placeholder="{{strings.getString('select_type_txt')}}"
                        [(ngModel)]="selectedDropOffLocationType">
                <ion-select-option *ngFor="let type of locationTypes" [value]="type.id">
                    {{type.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="stacked">{{strings.getString('date_txt')}}</ion-label>
            <ion-input *ngIf="platform.is('cordova')" required name="date" [readonly]="true" (click)="showDatePicker()"
                       [value]="selectedDateTime!=null?selectedDateTime:''"
                       placeholder="{{strings.getString('select_date_txt')}}" type="text">
            </ion-input>
            <ion-datetime *ngIf="!platform.is('cordova')"  required name="date"
                          [(ngModel)]="selectedDate" placeholder="{{strings.getString('select_date_txt')}}"
                          [min]="getDateString(minDate)"
                          [max]="getDateString(maxDate)"
                          display-format="YYYY-MM-DD"
                          picker-format="YYYY-MMMM-DD">
            </ion-datetime>
        </ion-item>
        <br *ngIf="!platform.is('cordova')">
        <ion-item *ngIf="!platform.is('cordova')">
            <ion-label position="stacked">{{strings.getString('time_txt')}}</ion-label>
            <ion-datetime required name="time"
                          [(ngModel)]="selectedTIme" placeholder="{{strings.getString('select_time_txt')}}"
                          display-format="HH:mm"
                          picker-format="HH:mm">
            </ion-datetime>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="stacked">{{strings.getString('status_txt')}}</ion-label>
            <ion-select required name="status" placeholder="{{strings.getString('select_status_txt')}}"
                        [(ngModel)]="selectedStatus">
                <ion-select-option *ngFor="let status of statusList" [value]="status.status_id">
                    {{status.status}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-item>
            <ion-label position="stacked">{{strings.getString('bus_type_txt')}}</ion-label>
            <ion-select required name="busType" *ngIf="busTypes!=null && busTypes.length>0"
                        placeholder="{{strings.getString('select_bus_type_txt')}}" [(ngModel)]="selectedBusType">
                <ion-select-option *ngFor="let type of busTypes" [value]="type.id">
                    {{type.name}}
                </ion-select-option>
            </ion-select>
            <ion-input required name="busType" [disabled]="true" *ngIf="busTypes==null || busTypes.length<1"
                       [value]="strings.getString('no_bus_txt')">

            </ion-input>
        </ion-item>
        <br>
        <div>
            <ion-card>
                <ion-card-title class="cell cell-center cell-flex cell-flex-center">
                    <div>
                        <div class="cell">
                            <ion-label>
                                {{strings.getString("ticket_txt")}}
                            </ion-label>
                        </div>
                        <div class="cell">
                            <ion-button  color="primary" (click)="addTicket()" >
                                <ion-icon slot="start" name="add"> </ion-icon>
                                {{strings.getString("add_txt")}}
                            </ion-button>
                        </div>
                    </div>
                </ion-card-title>
                <ion-card-content>
                    <ion-list *ngIf="selectedTickets!=null && selectedTickets.length>0">
                        <ion-row *ngFor="let ticket of selectedTickets; let i = index" [attr.index]="i">
                            <ion-col size="2" class="cell cell-center  cell-flex cell-flex-center ">
                                <ion-button class="iconBt" (click)="removeTicket(i)">
                                    <ion-icon slot="icon-only" class="danger" name="remove-circle"> </ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="3" class="cell cell-center  cell-flex cell-flex-center ">
                                <ion-label class="cell-content">
                                    {{ticket.name}}
                                </ion-label>
                            </ion-col>
                            <ion-col size="4" class="cell cell-center  cell-flex cell-flex-center ">
                                <ion-label class="cell-content">
                                    {{ticket.description}}
                                </ion-label>
                            </ion-col>
                            <ion-col size="3" class="cell cell-center  cell-flex cell-flex-center ">
                                <ion-label class="cell-content">
                                    {{ticket.currency_code}} {{ticket.price}}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-list>
                    <ion-input required type="hidden" name="tickets" [value]="toJson(selectedTickets)"> </ion-input>
                </ion-card-content>
            </ion-card>
        </div>
        <div>
            <ion-button expand="full" color="primary" type="submit"
                        [disabled]="!tripForm.form.valid">
                {{strings.getString("submit_txt")}}
            </ion-button>
        </div>
    </form>
</ion-content>

