/*Booking info Card*/
#bookingCard {


  ion-list {
    ion-list-header {
      ion-label {
        white-space: normal;
        line-break: auto;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        font-size: 12px !important;
      }
    }

    ion-item {
      font-size: 14px !important;
    }
  }
}
