<ion-header>
    <ion-toolbar color="transparent">
        <ion-buttons slot="start">
            <ion-back-button color='secondary' defaultHref="/home/dashboard"> </ion-back-button>
        </ion-buttons>
        <ion-title>{{strings.getString("scan_txt")}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-justify-content-center ion-align-items-center">
    <div id="scanner-container" class="cell cell-flex cell-flex-center">
        <zxing-scanner #scanner id="scanner"> </zxing-scanner>
    </div>
    <ion-fab *ngIf="flashAllowed || multiDeviceAllowed" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
            <ion-icon name="options"></ion-icon>
        </ion-fab-button>
        <ion-fab-list *ngIf="flashAllowed" side="end">
            <ion-fab-button (click)="toggleFlash()">
                <ion-icon *ngIf="!flashEnabled" color="primary" name="flash"></ion-icon>
                <ion-icon *ngIf="flashEnabled" color="primary" name="flash-off"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list *ngIf="multiDeviceAllowed" side="start">
            <ion-fab-button (click)="changeMediaDevice()">
                <ion-icon color="primary" name="camera-reverse"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab> 
</ion-content>
