.active-item {
  ion-icon,
  ion-label {
    --color: var(--text-color-light) !important;
    color: var(--text-color-light) !important;
  }
}
.tab-selected {
  ion-icon,
  ion-label {
    --color: var(--text-color-light) !important;
    color: var(--text-color-light) !important;
  }
}
