<!-- Split Pane -->
<ion-split-pane *ngIf="!platform.is('mobile') || platform.is('tablet')" when="lg" contentId="home-router">
  <!--Menu Controller-->
  <ion-menu size="start" menuId="home" contentId="home-router" type="overlay">
    <ion-content class="background-primary">
      <div class="logoContainer">
        <img draggable="false" class="logo logoTxt" src="{{assets.getPath('logo_txt_light')}}">
        <div class="cell cell-center">
          <h3 class="logoNameTxt color-secondary">{{strings.getString("partner_txt")}}</h3>
        </div>
      </div>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" color="primary" routerLink="/home/dashboard" routerDirection="root"
          [class.active-item]="selectedPage.startsWith('/home/dashboard')">
          <ion-icon slot="start" name="stats-chart" class="secondary"> </ion-icon>
          <ion-label color="secondary">{{strings.getString("dashboard_title_txt")}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" color="primary" routerLink="/home/trip" routerDirection="root"
          [class.active-item]="selectedPage.startsWith('/home/trip')">
          <ion-icon slot="start" name="calendar" class="secondary"> </ion-icon>
          <ion-label color="secondary">{{strings.getString("trips_title_txt")}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" color="primary" routerLink="/home/bus" routerDirection="root"
          [class.active-item]="selectedPage.startsWith('/home/bus')">
          <ion-icon slot="start" name="bus" class="secondary"> </ion-icon>
          <ion-label color="secondary">{{strings.getString("buses_title_txt")}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false">
        <ion-item lines="none" color="primary" routerLink="/home/account" routerDirection="root"
          [class.active-item]="selectedPage.startsWith('/home/account')">
          <ion-icon slot="start" name="person" class="secondary"> </ion-icon>
          <ion-label color="secondary">{{strings.getString("account_title_txt")}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-content>
    <ion-footer *ngIf="!platform.is('mobile')">
      <ion-toolbar class="background-primary cell-padding-3x">
        <ion-button expand="full" color="danger" (click)="confirmLogout()">
          <ion-icon name="exit" color="secondary" slot="start">
          </ion-icon>
          {{strings.getString('logout_txt')}}
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="home-router">
    <!--Home Content will display in here-->
  </ion-router-outlet>
</ion-split-pane>

<!--Tab Controller-->
<ion-tabs *ngIf="platform.is('mobile') && !platform.is('tablet')" (ionTabsWillChange)="willChange($event)">
  <ion-tab-bar class="cell" slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="stats-chart"> </ion-icon>
      <ion-label>{{strings.getString('dashboard_title_txt')}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trip">
      <ion-icon name="calendar"> </ion-icon>
      <ion-label>{{strings.getString('trips_title_txt')}}</ion-label>
    </ion-tab-button>

    <ion-fab-button (click)="showScanCode()">
      <ion-icon name="qr-code"></ion-icon>
    </ion-fab-button>

    <ion-tab-button tab="bus">
      <ion-icon name="bus"> </ion-icon>
      <ion-label>{{strings.getString('buses_title_txt')}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"> </ion-icon>
      <ion-label>{{strings.getString('account_title_txt')}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- Preload components -->
<app-select-date hidden style="display: none;"></app-select-date>
